{% extends "base.html" %}
{% block name_title %}Editar agenda{% endblock %}
{% load static %}
{% block link_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/agendar.css" %}"
{% endblock %}

{% block content %}
{% include 'nav.html' %}
    <form method="post" class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col s6">
                <label>Nome do medico (opcional): </label>
                {{ form.nomeMedico }}
            </div>
            <div class="col s6">
                <label>Nome do paciente: </label>
                {{ form.nomePaciente }}
            </div>
            <div class="col s6">
                <label>Especialidade (opcional): </label>
                {{ form.especializacao }}
            </div>
            <div class="col s6">
                <label>Data do atendimento: </label>
                {{ form.data }}
            </div>
            <div class="col s6">
                <label>Hora do atendimento: </label>
                {{ form.hora }}
            </div>
        </div>
        <input type="submit" value="Editar">
    </form>
{% endblock %}