<ul id="paci" class="dropdown-content">
  <li><a href="{% url 'criarPaciente' %}">Adicionar Paciente</a></li>
  <li><a href="{% url 'buscarPaciente' %}">Buscar Paciente</a></li>
</ul>

<ul id="agen" class="dropdown-content">
  <li><a href="{% url 'agendar'%}">Agendar</a></li>
  <li><a href="{% url 'AgendaDia' %}">Agenda do dia</a></li>
  <li><a href="{% url 'agendaTotal' %}">Ver agenda</a></li>
</ul>

<ul id="med" class="dropdown-content">
  <li><a href="{% url 'criarMedico' %}">Adicionar médico</a></li>
  <li><a href="{% url 'buscarMedico' %}">Buscar médico</a></li>
</ul>



  <nav class="teal darken-3">
    <div class="nav-wrapper">
        <div class="container">
        <a href="{% url 'dashboard'%}" class="brand-logo">
        <div class="logoImage"></div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="" data-target="paci"><i class="material-icons left">account_circle</i>Paciente<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="" data-target="agen"><i class="material-icons left">book</i>Agenda<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="" data-target="med"><i class="material-icons left">perm_identity</i>Médico<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
        </div>  
    </div>
  </nav>

  <ul id="mobile-demo" class="sidenav">

    <li><a class="waves-effect" href="{% url 'dashboard' %}"><i class="material-icons">home</i>Home</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">account_circle</i>Paciênte</a></li>
    <li><a class="waves-effect" href="{% url 'criarPaciente' %}">Adicionar Paciente</a></li>
    <li><a class="waves-effect" href="{% url 'buscarPaciente' %}">Buscar Paciente</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">book</i>Agenda</a></li>
    <li><a class="waves-effect" href="{% url 'agendar' %}">Agendar</a></li>
    <li><a class="waves-effect" href="{% url 'AgendaDia' %}">Agenda do dia</a></li>
    <li><a class="waves-effect" href="{% url 'agendaTotal' %}">Ver agenda</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"><i class="material-icons">perm_identity</i>Médico</a></li>
    <li><a class="waves-effect" href="{% url 'criarMedico' %}">Adicionar médico</a></li>
    <li><a class="waves-effect" href="{% url 'buscarMedico' %}">Buscar médico</a></li>
  </ul>        